---
layout: page
# The Home page layout
---
<div class="post-content">
      Abstract—OpenHarmony emerges as a potential third pillar
in the mobile OS landscape alongside Android and iOS. To
promote the adoption of OpenHarmony, developers have been
porting C/C++ libraries from the native OS (Linux) to Open-
Harmony. However, the porting can be exceptionally challenging
because of the discrepancies between Linux and OpenHarmony
in system libraries, runtime environments and build systems.
These discrepancies lead to Cross-platform Compatibility (CPC)
issues during cross compilation, which can be difficult to address
for two reasons. First, existing cross-compilation toolchains only
return simple error messages upon the occurrence of CPC
issues, which are often not adaquate for the diagnosis of CPC
issues. Second, fixing CPC issues requires the understanding
and identification of discrepancies between the two OSs, yet
documentation or systematic guidelines about the discrepancies
are often not available.
  <br>
  <br>
  <!-- <a href="https://piecer-plc.github.io/Piecer"><strong>Piecer</strong></a> -->
   <!-- <a href="https://piecer-plc.github.io/Defective-Repository"><strong>repository</strong></a> -->
    <!--  <a href="https://piecer-plc.github.io/Empirical-Findings"><strong> -->
  To assist developers in addressing these challenges, we con-
ducted an empirical study on 92 C/C++ libraries successfully
ported to OpenHarmony. Through manual step-by-step repro-
duction of all CPC issues, our study reveals that discrepancies
between OpenHarmony and Linux can be divided into three cat-
egories, and CPC issues can manifest through eight dimensions.
Furthermore, we identified eight common adaptation strategies
for addressing CPC issues. Based on these findings, we developed
a novel technique CROSS2OH, which seamlessly automates the
porting of C/C++ libraries from Linux to OpenHarmony. Our
evaluation shows that CROSS2OH achieves 0.81 and 0.89 in
addressing CPC issues. Besides, with the aid of CROSS2OH, 26
libraries have been officially ported to OpenHarmony.

</div>
  <hr>
  <div class="post-content">
      <div class="logo">
          <!-- <a href="https://piecer-plc.github.io/Piecer.html"> -->
           <img src="/assets/images/tool.svg" alt="avatar" height="50" width="50">
          <!-- </a> -->
          <span>
              <a href="https://github.com/CROSS2OH/CROSS2OH.github.io"><strong> A tool to seamlessly port C/C++ software libraries to OpenHarmony.</strong></a><br>
          </span>
      </div>
      <div class="logo">
          <!-- <a href="https://piecer-plc.github.io/DAR.html"> -->
           <img src="/assets/images/repository.svg" alt="avatar" height="50" width="50">
          <!-- </a> -->
          <span>
              <a href="https://github.com/CROSS2OH/CROSS2OH.github.io">
              <strong>Defective API repository for detecting PLC issues.<br></strong> 
          </a>
          </span>
      </div>
      <div class="logo">
          
           <img src="/assets/images/libraries.svg" alt="avatar" height="50" width="50">
          
          <span>
            <!-- TODO:改为实证研究结果 -->
              <a href="https://github.com/CROSS2OH/CROSS2OH.github.io">
                  <strong>Empirical findings in C/C++ software libraries.<br></strong> 
              </a>
          </span>
      </div>

  </div>

  <!-- TODO:tag me里面点击显示的 -->
  
  <!-- <div id="d-help-win" class="d-help-win" style="display: none;">
      <div id="win-title">Help
          <span id="d-help-colse" clss="close_2" class="close_2">
              × 
          </span>
      </div>
      <div id="win-content">
          <blockquote class="prompt-tip"><div><p> We provide a list of PLC issues captured by us in real-world pipelines and popular ML libraries.</p></div></blockquote>
          <div>
              <ol>
                  <li>Go to <strong><font color="#FF0000">Empirical Findings</font></strong> page</li>
                  <li>Select a bug and click on <strong><font color="#FF0000">reproduce result link</font></strong>.</li>
                  <li>You can find the reproduction results of each version and the related reproduction code.</li></ol>
          </div>

          <img src="/assets/images/Pipeline-Bug.gif" alt="avatar">
      </div>
  </div> -->
